.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 80px 10px 80px;
  width: 280px;
  background-color: rgb(220, 220, 220);
  border: 3px solid rgb(128, 128, 128);
  border-radius: 10px;
  font-family: sans-serif;
  box-shadow: 0 0 20px;
  max-width: 450px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0 10px 0;
}
