.label {
  margin: 0;
  padding-bottom: 3px;
  margin-top: 10px;
}

.textBlock {
  border-radius: 5px;
  margin-bottom: 5px;
  resize: none;
  font-family: sans-serif;
  overflow: hidden;
}

.textBlock:hover {
  border: 1px solid rgb(47, 168, 255);
  outline: 0;
}

.counter {
  font-size: 12px;
}

.fieldError {
  color: red;
  font-size: 12px;
}